<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Re7letElKalemat"
        tools:targetApi="31">
        <activity
            android:name=".View.LeaderBoardActivity"
            android:exported="false" />
        <activity
            android:name=".View.FindTheMeaningGame"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".View.MyCardDetailService"
            android:exported="true" />

        <activity
            android:name=".View.FirstGameRulesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.CardWordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.RearrangeWordGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.RewordFinishCityWordsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.CardDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.AfterSuccessInGame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.MeccaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SaudiArabiaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.AfterFailingInGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.OnCityPressed2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.onCityPressed1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>